<img src="/public/images/cool-kim.png"><br>
{{> nav}}
<h1>The Democratic People's Republic of Korea is watching.</h1>
<h2>You can run, but you can't hide. 행운을 빕니다.</h2>
<div class="signees">
    {{# signees}}
    {{firstname}} {{lastname}}, <a href="/signatures/{{city}}">{{city}}</a> {{country}}<br>
    {{/ signees}}
</div>
